<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="import" href="../base/_header_css.html?__inline">
</head>
<body>
<link rel="import" href="../base/header.html?__inline">
<div class="content">
    <div class="position">当前位置：
        <span >系统管理</span>
        <span style="padding: 0 5px;">&gt;</span>
        <span >字段配置</span>
    </div>
    <div >
        <div role="tabpanel" class="tab-pane fade" >
                <div class="panel panel-default ">
                    <div class="panel-heading" >
                        字段配置
                    </div>
                    <table id="fieldConfigList"></table>
                </div>
            </div>
    </div>
</div>
<!-- 添加当前模板js -->
<link rel="import" href="../base/footer.html?__inline">
<link rel="import" href="../base/_footer_js.html?__inline">
<script src="../../assets/js/pages/systermManage/reportSetting.js"></script>
</body>
</html>