<!--修改tab页-->
<div class="modal fade " id="tabPageModal" tabindex="1" data-backdrop="static" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="">Pages配置</h4>
            </div>
            <div class="popCon">
                <form id="formTabPages" class="clearfix" style="padding:10px 0">
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">序号 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="sortindex" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">中文名 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="nameChs" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">英文名 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="nameEng" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm saveTabPages">确 定</button>
            </div>
        </div>
    </div>
</div>
<!--新增修改菜单配置一级菜单-->
<div class="modal fade " id="menuModal" tabindex="1" data-backdrop="static" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="">菜单配置</h4>
            </div>
            <div class="popCon">
                <form id="formMenu" class="clearfix" style="padding:10px 0">
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">序号 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="seq" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">中文名 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="nameChs" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">英文名 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="nameEng" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">路径 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="url" value=""  >
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">当前位置 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="parameter" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm saveNewEditMenu">确 定</button>
            </div>
        </div>
    </div>
</div>
<!--新增修改菜单配置二级菜单-->
<div class="modal fade " id="secondMenuModal" tabindex="1" data-backdrop="static" role="dialog" >
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="">菜单配置</h4>
            </div>
            <div class="popCon">
                <form id="secondFormMenu" class="clearfix" style="padding:10px 0">
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">序号 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="seq" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">中文名 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="nameChs" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">英文名 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="nameEng" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">路径 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="url" value="" data-bv-notempty data-bv-notempty-message="必填项" >
                        </div>
                    </div>
                    <div class="col-md-12 form-group has-require">
                        <label class="col-md-6">当前位置 :</label>
                        <div class="col-md-6">
                            <input id="" type="text" class="form-control has-error" name="parameter" value=""  data-bv-notempty data-bv-notempty-message="必填项">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm saveNewEditSecondMenu">确 定</button>
            </div>
        </div>
    </div>
</div>