<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="import" href="base/_header_css.html?__inline">
    <link rel="stylesheet" type="text/css" href="../assets/css/pages/index.less" />
</head>
<body>
    <link rel="import" href="base/header.html?__inline">
    <div style="width:100%; height:70px;"></div>
    <div style="margin:0 20px; background:white; border:1px solid #e9e9e9; padding-bottom:10px;">
        <div style="height:48px; line-height:48px; border-bottom:1px solid #e9e9e9; text-align:right;">
            <span class="block_titletext"><i class="fa fa-cog fa-fw"></i>模块</span>
        </div>

    </div>


    <!-- 添加当前模板js -->
    <link rel="import" href="base/_footer_js.html?__inline">
    <script src="../assets/js/pages/index.js"></script>
</body>
</html>